* {
  margin: 0;
  padding: 0;
}

.pkhh {
  background: #fff;
  margin: 5px 10px;
  border-radius: 6px;
  height: 190px;
  overflow: hidden;
  cursor: pointer;
}

.tenpk {
  font-weight: 500;
}

span.hhhg {
  font-weight: 100;
}

img.anhpk {
  width: 100%;
  /* height: auto; */
  max-height: 100px;
}

.ggg {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d5d5d5;
  padding: 10px;
  margin: 10px;
  border: 1px solid #0d6efd;
}

.tytytyty {
  width: 80%;
}

.yyb {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  background: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeCL {
  border: 5px solid #ff0000;
  box-sizing: border-box;
}
.themspsss {
  position: absolute;
  width: 100%;
  min-height: 100%;
}