* {
  margin: 0;
  padding: 0;
  
}

.tenpk {
  font-weight: 500;
}

span.hhhg {
  font-weight: 100;
}

img.anhpk {
  width: 100%;
  height: auto;
}
.ggg {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d5d5d5;
  padding: 10px;
  margin: 10px;
  border: 1px solid #0d6efd;
}